Skip to content
This repository
Search
Pull requests
Issues
Gist
 @frazierr2
 Unwatch 1
  Star 0
  Fork 0 frazierr2/1.2-octocats
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy path1.2-octocats/styles.css
39efe53  2 days ago
@frazierr2 frazierr2 Homework Project
1 contributor
RawBlameHistory     87 lines (73 sloc)  1.21 KB
.octodex{
  /*border: 1px solid red;*/
  display: inline-block;

}
a{
  color: #333333;
  text-decoration: none;
  font-weight:700;
  font-family:inherit;
}
.octocat{
 /*border: 3px solid orange;*/
 display:inline-block;
 width: 380px;
 padding: 7px;

}

.octocat a{
  /*border: 2px solid red;*/
  display:inline-block;
}

.octocat img{
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 100%;
}

.authors img{
  /*border: 1px solid green;*/
  border: none;
  width: 30px;
  height: 30px;
}

.image-footer{
  float: left;
  /*border: 3px solid pink;*/
  width: 100%;
  position: relative;
  border-bottom: 1px solid lightgrey;
  color:#908B80;

}
.image-caption{
  float: right;
  display: inline-block;
  margin-top: 10px;

}
.authors{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.image-number{
  color: lightgrey;
  float: left;
  padding-top: 13px;

}


.authors li{
  vertical-align:middle;
  display:inline-block;
  /*border: 1px solid purple;*/
}

.image-footer:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #cacaca;
    position: absolute;
    right: 7px;
    top: 0;
}
/*.image-footer:after{
 bottom: 3px solid red;
}*/
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help
